<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DNK</title>
</head>
<body>
  <nav>
    <span>
      <a href="Main Page">Main Page</a>
      <a href="Tests">Tests</a>
      <a href="Profile">Profile</a>
      </span>
  </nav>
  <a href="{{name}}">{{name}}</a>
  <form>
    <label for="username">Имя пользователя:</label>
      <input type="text" id="username" required>
        <label for="password">Пароль:</label>
      <input type="password" id="password" required>
    <button type="submit">Войти</button>
  </form>
</body>
</html>