<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DNK</title>
</head>
<body>
  <nav>
    <span>
      <h>Main Page</h>
      <h>Tests</h>
      <h>Profile</h>
    </span>
  </nav>
  <br>
  <br>
  <br>
  <form>
    <label for="username">Имя пользователя:</label>
      <input type="text" id="username" required>
        <label for="password">Пароль:</label>
      <input type="password" id="password" required>
    <button type="submit">Войти</button>
  </form>
</body>
</html>